<!DOCTYPE html>
<html lang="TH">
<head>
    <meta charset="UTF-8">
    <title>WLess Looking</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.min.js"></script>

    <script src="app.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="test.js"></script>
    <link rel="stylesheet" href="/css/load.css">
</head>

<body ng-app="myApp">
  <div ng-controller="Controller">
    <div ng-show="load">
      <div class="loading-spinner">
        <div class="dot dotOne"></div>
        <div class="dot dotTwo"></div>
        <div class="dot dotThree"></div>
      </div>
    </div>
    <div ng-hide="load">
      <center>
        <h2 class="title"><b>WLess Looking</b></h2>
        <img src="http://www.fitm.kmutnb.ac.th/_/rsrc/1445418606713/media/FITM-LOGO-MODIFILED.png?height=141&width=200" alt="" />
      </center>

      <span class="toggler active" data-toggle="grid" ng-init="page=1" ng-click="page=1" alt="show grid WiFi"><span class="glyphicon glyphicon-th-large"></span></span>
      <span class="toggler" data-toggle="list" ng-click="page=1" alt="show list WiFi"><span class="
glyphicon glyphicon-list"></span></span>
      <span class="toggler" data-toggle="list" ng-click="page=2" alt="Download and Upload"><span class="glyphicon glyphicon-stats"></span></span>

      <div ng-show="page===1">
        <ul class="surveys grid">
          <li class="survey-item" ng-repeat = "data in wifidata">
            <span class="survey-country list-only">{{data.mac}}</span>
            <span class="survey-name"><b>{{data.ssid}}</b></span><br>
            <span class="survey-country grid-only">Mac Address : {{data.mac}}</span>
            <span class="survey-country grid-only">Channel : {{data.channel}}</span>
            <div class="pull-right">
              <span class="survey-progress">
                <span class="survey-progress-bg">
                  <span class="survey-progress-fg" style="width: {{ 2*(data.rssi+100) }}%;"></span>
                </span>
                <span class="survey-progress-labels">
                  <span class="survey-progress-label">SPEED {{ 2*(data.rssi+100) }}%</span>
                </span>
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div ng-show="page===2">
        <div class="container">
          <br><br><br>
            <div class="col-xs-6 col-xs-offset-3">
              Loading...<br>
              <canvas id="myChart" width="400px" height="500px"></canvas>
            </div>
        </div>
      </div>

    </body>
</html>
